<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>

<body>
    <div class="container details-screen">
        <div class="toolbar">
            <a href="#" class="logo">HIPSTEARCH</a>
            <form><input type="search"></form>
        </div>
        <div class="grid">
            <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
            <div>
                <span>Adventure time</span>
            </div>
        </div>
    </div>
</body>

</html>
