<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>

<body>
    <div class="container home-screen">
        <div class="toolbar">
            <a href="#" class="logo">HIPSTEARCH</a>
            <form><input type="search"></form>
        </div>
        <div class="grid grid-2-400 grid-4-800 grid-6-1024">
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
            <a href="#">
                <img src="https://media2.giphy.com/media/l41lOtw1sHjHcgLWo/200.gif">
                <div>
                    <span>Adventure time</span>
                </div>
            </a>
        </div>
    </div>
</body>

</html>
